@*
     
*@
@{
    ViewData["Title"] = "FitWorld Premium";
}
<div class="fitworld-premium">
    <h1 class="t-primary">FitWorld Premium Features</h1>

    <ul class="t-primary">
        <li><strong>Personalized Training Plans:</strong> Access to ready-made workout programs tailored to various goals (e.g., weight loss, muscle building, improved fitness).</li>
        <li><strong>Progress Tracking:</strong> Feature for monitoring workout progress and changes in weight or body composition.</li>
        <li><strong>Exercise Database:</strong> Extensive database with a variety of exercises covering all muscle groups, including descriptions, instructional videos, and technique tips.</li>

        

        <li><strong>Integration with Activity Trackers:</strong> Synchronization with popular activity tracking devices to automatically monitor steps, burned calories, and other metrics.</li>

        <li><strong>Expert Advice:</strong> Access to advice from fitness experts, personal trainers, and dietitians who provide tips and answer user questions.</li>

        <li><strong>Motivational Features:</strong> Reward system, social challenges, and other motivational features to help maintain engagement and regularity in workouts.</li>

       

        <li><strong>Training Schedule Management:</strong> Training calendar enabling users to plan and manage their workout schedules.</li>

        <li><strong>Exclusive Content Access:</strong> Exclusive content, such as special workouts, recipes from renowned chefs, or interviews with fitness industry celebrities.</li>
    </ul>
    <button class="btn button-primary mt-3 btn-lg">Get Access</button>
</div>
