@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}


<div class=" forgotten-password">
    <div class="div-input">
        <h1 class="t-primary">@ViewData["Title"]</h1>
        <h2 class="t-primary">Enter your email.</h2>
        <hr />
    </div>
    <div class="">
        <form method="post">
            <div class="div-input">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            </div>
            <div class="form-floating mb-3 div-input">
                <input asp-for="Input.Email" class="form-control input-text t-primary" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label t-primary"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="div-input">
                <button type="submit" class="button-primary btn btn-lg">Reset Password</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
